/* about page */
.aboutflex {
    display: flex;
    justify-content: center;

}
.aboutitem{
    font-size: 10px;
    margin-top: 8em;
    width: 57%;
}
.aboutgallery{
  padding-top: 30px;
  display: flex;
  justify-content: center;
}
.aboutcol1{
  flex-direction: column;
}
.aboutrow1{
  display: flex;
  justify-content: center;
}
.aboutrow1 img{
  height: 240px;
}
.aboutrow2{
  display: flex;
  justify-content: center;
}
.aboutrow2 img{
  height: 120px;
  flex-grow: 1;
}
.aboutgallery .aboutgalleryimgs{

}
#lastimgcontainer{
  display: flex;
  justify-content: center;
}
#lastimgcontainer img{
  height: 480px;
}
