
/* index page */
.mainscreengrow{
        display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    backface-visibility: hidden;
    transition-duration: 0.8s;
    transition-property: transform;
    background-color: transparent;
}
.mainscreengrow:hover,
.mainscreengrow:focus,
.mainscreengrow:active{
    transform: scale(1.08)
}
.mainscreengrow:hover{
     background-color: transparent;
}
.icons:hover{
    background-color: transparent !important;
}