body {
	color: #444;
	margin: 0 auto;
	/*
	max-width: 500em;
	padding: 1em 1em;
	line-height: 1.5;	
	*/
}

A:link { COLOR: #333; TEXT-DECORATION: none; font-weight: normal }
A:visited { COLOR: #ccc; TEXT-DECORATION: none; font-weight: normal }
A:active { COLOR: #333; TEXT-DECORATION: none }
A:hover { COLOR: #000; TEXT-DECORATION: none; font-weight: none }

h1 {
  font-family: 'Open Sans', sans-serif; 
  font-size: 100px;
}


#start-album{
	margin: -.2em auto .4em;
}
.kendrick-bio {
	padding: 1em 3em 0em 3em;
	text-align: justify;
}
.album-row {
	margin: .4em auto .4em;
	display: flex;
	align-items: center;
}

.album-cover {
	vertical-align: middle;
	display: block;
	width: 107%;
	length: 100%;
	margin: .45em auto;
}
.portraitimg {
	border-radius: 50%;
	border-style: solid;
	border-width: 8px;	
	border-color: #ccc;
	width: 80%;
	length: 80%;
}
.main-caption {
	margin: .5em 0em auto 0em;
	font-size: 20px;
}
h3 {
	margin: 1em 0em 0em 0em;
	font-weight: normal;
}
.strong{
  color: #111
}