body {
    background-color: rgb(20, 20, 20);
	color: white;
	margin: 0 auto;

    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 15px;

}
a:link {
    COLOR: white;
    TEXT-DECORATION: none;
}
a:visited {
    COLOR: white;
    TEXT-DECORATION: none;
}
a:active {
    COLOR: white;
    TEXT-DECORATION: none
}
a:hover {
    COLOR: white;
    TEXT-DECORATION: none;
    background-color: cadetblue;
}
h1 {
    font-size: 1.2em;
    line-height: .1em;
}
p {
    font-size: 11px;
    line-height: 1.4em;
}
.titlelogo:hover{
    background-color: transparent;
    transform: scale(1.1);
}
.titlelogo {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    backface-visibility: hidden;
    transition-duration: 0.5s;
    transition-property: transform;

}
.navlink{
    font-size: 11px;
    margin: .8em;
    padding-left: 3px;
    padding-right: 3px;
}
.topnav{
    display: flex;
    justify-content: space-between;
    font-weight: 200;
}
.topnavcenter{
    font-size: 20px;
    margin-top: 2.2em;
    font-family: 'IBM Plex Serif', serif;
    padding-left: em;
}
.topnavleft{
    margin-left: 14em;
    margin-top: 3em;
}
.topnavright{
    margin-right: 12em;
    margin-top: 3em;
}

/* index page */
.mainscreengrow{
        display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    backface-visibility: hidden;
    transition-duration: 0.8s;
    transition-property: transform;
    background-color: transparent;
}
.mainscreengrow:hover,
.mainscreengrow:focus,
.mainscreengrow:active{
    transform: scale(1.08)
}
.mainscreengrow:hover{
     background-color: transparent;
}
.icons:hover{
    background-color: transparent !important;
}
.links{
    padding-left: 3px;
    padding-right: 3px;
}
.indexcontainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    backface-visibility: hidden;
    transition-duration: 0.1s;
    transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.15);
}

/* about page */
.aboutflex {
    display: flex;
    justify-content: center;

}
.aboutitem{
    font-size: 10px;
    margin-top: 8em;
    width: 35%;
}
/* portfolio page */
.contactflex{
    display: flex;
    justify-content: center;
    margin-top: 120px;
}
.contactitem{
    font-size: 30px;
}
.contacticon{
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    backface-visibility: hidden;
    transition-duration: 0.5s;
    transition-property: transform;
}
.contacticon:hover{
    background-color: transparent;
}

.contacticon:hover,
.contacticon:focus,
.contacticon:active {
    transform: scale(1.15);
}
.contactlink:hover,
.contactlink:focus,
.contactlink:active {
    background-color: transparent;
}
